:root { 
--black_900_7f:#0000007f; 
--blue_A400:#0e73f6; 
--gray_800_03:#4e4e4e; 
--gray_800_02:#383737; 
--red_400:#c84a5c; 
--gray_800_01:#474646; 
--green_A100:#b2f2bb; 
--deep_purple_200:#aa9fc7; 
--gray_300_4c:#dddddd4c; 
--indigo_50_01:#e4ebf3; 
--light_blue_A700:#0b95ff; 
--blue_gray_900_02:#27272e; 
--blue_gray_900_01:#21293c; 
--deep_purple_A200:#9747ff; 
--blue_gray_900:#363636; 
--indigo_200_2b:#9daec32b; 
--pink_100:#f2b2bb; 
--gray_400:#b7b5b5; 
--blue_gray_100:#d5dadd; 
--lime_700:#d0992f; 
--blue_gray_100_33:#d9d9d933; 
--gray_800:#444444; 
--blue_gray_500:#6e7c87; 
--amber_100:#f2efb2; 
--black_900_0c:#0000000c; 
--indigo_A700:#0046fc; 
--black_900_19:#00000019; 
--gray_50_66:#f6f8f966; 
--blue_gray_50:#edf0f3; 
--blue_gray_100_01:#cfcfcf; 
--blue_gray_100_02:#d4dadc; 
--blue_gray_100_03:#caced1; 
--blue_gray_100_04:#d0cfcf; 
--green_600:#4b8954; 
--gray_50:#f6f8f9; 
--gray_600_4c:#6f6d6d4c; 
--gray_500_01:#a6a7a8; 
--gray_500_02:#adabab; 
--indigo_900_e0:#0b1354e0; 
--gray_300_2d:#dddddd2d; 
--orange_A100:#e7cf78; 
--blue_gray_200:#b0b9be; 
--gray_500:#aaaaaa; 
--blue_gray_600:#5a6771; 
--gray_900:#212121; 
--black_900_a8:#000000a8; 
--gray_100_d1:#f4f4f4d1; 
--black_900_a3:#000000a3; 
--gray_100:#f6f7f8; 
--gray_200_a5:#e8e8e8a5; 
--blue_gray_600_51:#5b687151; 
--blue_A200_99:#3f94f799; 
--gray_900_51:#1a202451; 
--purple_100:#dcc1ff; 
--light_blue_100:#a5d8ff; 
--gray_400_0c:#b7b5b50c; 
--blue_A200:#3f94f7; 
--black_900_3f:#0000003f; 
--blue_gray_500_01:#6e7c86; 
--deep_orange_300:#ef9266; 
--gray_200_01:#e8e8e8; 
--blue_gray_700:#425466; 
--gray_200_02:#e5e8ea; 
--pink_300:#f765a3; 
--cyan_900_0f:#0c45680f; 
--gray_100_70:#f4f4f470; 
--gray_200_03:#e5e9eb; 
--black_900_4c:#0000004c; 
--gray_600:#ac5d72; 
--blue_gray_300:#9aa6ac; 
--lime_900:#835101; 
--amber_300:#f8dd4e; 
--gray_200:#e9e7e7; 
--blue_50:#e1eeff; 
--indigo_400:#4275b0; 
--gray_100_02:#f4f7f9; 
--blue_gray_100_6c:#d7d4d46c; 
--blue_A200_35:#3f94f735; 
--gray_100_01:#f4f4f4; 
--blue_A200_33:#3f94f733; 
--blue_300:#6ab2f2; 
--blue_100_26:#b7d8ff26; 
--white_A700:#ffffff; 
--gray_800_4c:#4e4e4e4c; 
--indigo_A200:#4c6fff; 
--gray_400_a0:#b4b4b4a0; 
--red_400_02:#f76659; 
--red_400_01:#c74a5b; 
--green_400:#47d16c; 
--black_900_23:#00000023; 
--black_900:#000000; 
--blue_gray_100_3f:#cfcfcf3f; 
--deep_purple_A200_01:#8864ed; 
--gray_900_02:#1a1f23; 
--blue_gray_50_01:#ecf1f7; 
--gray_900_03:#1e1e1e; 
--gray_700:#666666; 
--gray_900_04:#262020; 
--gray_600_02:#6f6d6d; 
--gray_900_05:#262121; 
--gray_600_01:#757373; 
--blue_gray_400:#84859e; 
--indigo_50:#e4ecf7; 
--blue_gray_900_04:#252c32; 
--gray_900_01:#16192c; 
--blue_gray_900_03:#242c31; 
--blue_gray_600_01:#4b587c; 
--lime_700_01:#d0992e; 
--light_blue_50:#d7edff; 
--gray_900_06:#222222; 
--gray_300_03:#e6e6e6; 
--gray_300:#dde1e3; 
--gray_300_02:#e1e1e1; 
--gray_900_07:#20004a; 
--blue_gray_300_01:#9ba2b0; 
--gray_300_01:#dddddd; 
--teal_A400:#19ff9e; 
--gray_300_7f:#dddddd7f; 
--black_900_33:#00000033; 
--blue_gray_300_7f:#9ba2b07f; 
--indigo_900:#0b1354; 
--light_blue_50_01:#d6edfe; 
}